@font-face {
    font-family: 'Roboto';
    src: url('/style/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/style/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/style/fonts/Roboto-Bold.ttf') format('truetype'),
        url('/style/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/style/fonts/Roboto-Thin.ttf') format('truetype'),
        url('/style/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ScienceGothic';
    src: url('/style/fonts/ScienceGothic-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}